html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

li {
    /* pour enlever les puces sur IE7 */
    
}

.firstList > li
{
    list-style: none;
    display: inline-block;
    float:left;
}

#imgPrincipale
{
    width: 100%;
    height: 100%;
}

img
{
    width: 100%;
    height: 100%;
}

#divLeft
{
    float: left;
    width: 50%;
    height: 100%;
}

#divLeftTop
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 70%;
}

#divLeftDown
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 30%;
}

#divRight
{
    float:  left;
    width: 50%
}

#divRightLeft
{
    float: left;
    width: 50%;
}

#divRightRight
{
    float: left;
    width: 50%;
}

ul
{
    height: 100%;
    width: 100%;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

li
{
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    width: 100%;
    height: 33%;
}
