html, body
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

img
{
    width: 100%;
    height: 100%;
}

#divTop
{
    height: 66%;
}

#divDown
{
    height: 34%;
}

.divQuart
{
    float: left;
    width: 50%;
    height: 100%
}

.divMoitie
{
    height: 50%;
}

/*
@media screen and (max-width: 1024px)
{
    .onlyDesktop
    {
        display: none;
    }

    .specialFloat
    {
        float: none;
    }

    .specialTakeAll
    {
        width: 100%
    }
}

@media screen and (max-width: 800px) {
    .onlyDesktopAndTablet {
        display: none;
    }

    .specialFloatSmall
    {
        float: none;
    }

    .specialTakeAllSmall
    {
        width: 100%
    }
}
*/

