html, body
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

img
{
    width: 100%;
    height: 100%;
}

.imgType1
{
    
}

.imgType2
{
    width: 25%;
    height: 33.33333%;
}

.imgType3
{
    width: 12.5%;
    height: 16.66667%;
}

#divTop
{
    height: 67%;
}

#divDown
{
    height: 33%;
}

.divQuart
{
    float: left;
    width: 50%;
    height: 100%
}

.divMoitie
{
    height: 50%;
}

@media screen and (max-width: 1025px)
{
    .onlyDesktop
    {
        display: none;
    }

    .specialFloat
    {
        float: none;
    }

    .specialTakeAll
    {
        width: 100%
    }
}

@media screen and (max-width: 800px) {
    .onlyDesktopAndTablet {
        display: none;
    }

    .specialFloatSmall
    {
        float: none;
    }

    .specialTakeAllSmall
    {
        width: 100%
    }
}

